[Unit]
Description = todo Service
[Service]

Environment=ZIPKIN_URL=
Environment=REDIS_HOST=http://redis.swathi.host:8080
Environment=TODOS_API_PORT=8080
ExecStart=/bin/node /root/server.js
Restart=on-failure
SyslogIdentifier=login

[Install]
WantedBy=multi-user.target