[Unit]
Description = todo Service

[Service]
Environment=REDIS_HOST=http://redis.swathi.host:8080
Environment=TODOS_API_PORT=8080
ExecStart=/bin/node /home/ubuntu/todo/server.js
Restart=on-failure
SyslogIdentifier=login

[Install]
WantedBy=multi-user.target