[Unit]

Description = login Service
[Service]
Environment=AUTH_API_PORT=8080
Environment=USERS_API_ADDRESS=http://user.swathi.host:8080
ExecStart=/home/ubuntu/login/login-ci
SyslogIdentifier=login
 

[Install]
WantedBy=multi-user.target